.chat-main
  .chat-main__group--info
    .chat-main__group--info__left
      .chat-main__group--info__left__group-name
        = @group.name
      .chat-main__group--info__left__user-name
        Member : 
        - @group.users.each do |user|
          = user.name
    .chat-main__group--info__right
      .edit-btn-frame
        = link_to edit_group_path(@group), class: "edit-btn" do
          = "Edit"
  
  .messages
    = render @messages

  .chat-main__message--form
    = form_for [@group, @message], html: { class: 'chat-main__message--form__text-box' } do |f|
      = f.text_field :body, class: 'chat-main__message--form__text-box__input-text', placeholder: 'type a message'
      = f.label :image, class: 'chat-main__message--form__text-box__image' do
        = icon('far', 'image')
        = f.file_field :image, class: 'chat-main__message--form__text-box__image__file'
      = f.submit 'Send', class: 'chat-main__message--form__submit-btn'
      